/* -------------------------------------------------------------------------- */
/* FOOTER */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* FOOTER 1 SECTION */
/* -------------------------------------------------------------------------- */
.footer1 {
  min-height: 300px;

  .footer-link {
    color: $color-dark;
    font-family: $font-primary;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;

    &:hover {
      text-decoration: none;
      color: $color-main;
    }
  }
  .footer-header {
    margin-top: 0 !important;
  }

  .containerish {
    display: grid;

    .footer-left {
      background: $color-light;
      padding: 40px 20px;

      .footer-header {
        margin-bottom: 2rem !important;
      }

      .ui-btn {
        display: inline-block;
        width: auto;
        padding: 0.3rem 0.5rem;
        margin-bottom: 0 !important;
        vertical-align: middle;
      }
    }
    .footer-right {
      background: url("../img/footer-right-bg@2x.jpg") center / cover;
      padding: 40px 20px;
      display: grid;

      .footer-header {
        margin-bottom: 2rem !important;
      }

      .right-left {
        margin-bottom: 2rem;
      }
      .right-right {
        ul {
          padding: 0;
          list-style-type: none;

          li:not(:last-child) {
            line-height: 40px !important;
          }
        }
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/* FOOTER 2 SECTION */
/* -------------------------------------------------------------------------- */
.footer2 {
  background-color: $color-light-accent;
  width: 100%;
  padding: 0.6rem 30px;

  .footer-link {
    color: $color-white;
    font-family: $font-primary;
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;

    &:hover {
      text-decoration: none;
      color: $color-dark;
    }
  }
}
