/* -------------------------------------------------------------------------- */
/* SECTION STYLES */
/* -------------------------------------------------------------------------- */
.containerish {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: auto;
  padding: 0;
}
section {
  overflow: hidden;
}
/* -------------------------------------------------------------------------- */
/* HERO SECTION */
/* -------------------------------------------------------------------------- */
.hero {
  background: url("../../img/hero-bg@2x.jpg") center right / cover;
  min-height: 65vh;
  overflow: hidden;
  position: relative;
  padding: 40px 20px;
  display: flex;
  align-items: center;
}

/* -------------------------------------------------------------------------- */
/* SEARCH SECTION */
/* -------------------------------------------------------------------------- */
.search {
  background: $color-light;
  padding: 40px 20px;

  .containerish {
    display: grid;

    .form-control {
      border-radius: 0;
      margin-bottom: 0.5rem;
    }

    .form-control:not(button) {
      border: 1px solid #ededed;
    }

    ::placeholder {
      color: #3e3a42;
      font-family: $font-primary;
      font-size: 15px;
    }
  }
}
/* -------------------------------------------------------------------------- */
/* BOTOX AND FILLERS SECTION */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* ABOUT US */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* NEWSLETTER SECTION */
/* -------------------------------------------------------------------------- */
.newsletter {
  min-height: 200px;
  align-items: center;
  .containerish {
    padding: 40px 20px;
    background: url("../img/newsletter-bg@2x.jpg") center / cover;
    display: grid;
    h3,
    h2,
    p {
      text-align: center;
    }
    p {
      margin-top: 0.5rem;
    }
    .form-control {
      margin-bottom: 0.5rem;
      border-radius: 0;
    }
    .form-control:last-child {
      margin-bottom: 0;
    }
  }
}
/* -------------------------------------------------------------------------- */
/* LASER HAIR REMOVAL AND ELECTROLYSIS */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* FACIALS SECTION */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* KYBELLA SECTION */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* EVENT */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* APPOINTMENTS SECTION */
/* -------------------------------------------------------------------------- */
.appointments {
  background: url("../img/appointment-bg@2x.jpg") center / cover;
  min-height: 400px;
  padding: 40px 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  .form-control {
    border-radius: 0;
  }
}
